@use "../../utils/colors";
@use "../../utils/global";

.header {
    background-color: var(--dark-grey-color);
    background-image: linear-gradient(to bottom, var(--linear-color), var(--light-yellow)), url("../../images/image5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
