:root {
    --white-color: #FFFFFF;
    --light-yellow: rgba(252, 227, 138, 0.9);
    --yellow-color: #FCE38A;
    --linear-color: rgba(243, 129, 129, 0.9);
    --pink-color: #F38181;
    --black-color: #000000;
    --grey-color: #999999;
    --dark-grey-color: #333333;
    --light-blue-color: #95E1D3;
    --line-color: #E5E5E5;
    --placeholder-color: #CCCCCC;
    --input-color: #E7E7E7;
}